#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.listado{
  width: 800px;
}
.Listado{
  display: flex;
  /* flex-wrap: wrap; */
  gap: 30px;
  /* justify-content: space-between; */
  width: 100%;
  padding: 20px;
}
.Tarjeta{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px 25px;
  box-shadow: 0 2px 5px rgb(0,0,0,0.1);
  position: relative;
  background-color: rgb(243, 255, 216);
}
.Tarjeta .Eliminar{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}